<div class="container-fluid contact-bar">
  <div class="row">
    <h2 class="text-center">Contact Us</h2>
    <div class="col-md-6 col-md-offset-3">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
        <div class="well">
          <%= form_for @contact do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :comments %>
              <%= f.text_area :comments, class: 'form-control cntct-txt-area' %>
            </div>
            <div class="text-center">
              <%= f.submit 'Submit', class: 'btn btn-primary cntct-btn' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>